<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key="ID_Inventory_APP" value="ID_Inventory_APP" />
	<add key="ID_Inventory_APP_Description" value="Inventory Management Application" />
	<add key="ID_Inventory_APP_Version" value="1.0.0" />
	<add key="ID_Inventory_APP_Author" value="Joe Kinanang" />
	<add key="ID_Inventory_APP_Company" value="3A Composites PNG LTD" />
	<add key="ID_Inventory_APP_CompanyWebsite" value="https://www.3acomposites.com/" />
	</appSettings>
	<connectionStrings>
		<add name="InventoryDB" connectionString="Data Source=DESKTOP-P2I559T\SQLEXPRESS;Initial Catalog=PGKO_IDCard_InventoryDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />		 
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="InventoryAppLog.txt" />
				<add name="consoleTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>
		</system.diagnostics>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
		 
				

	</configuration>